.container>.Allnav>ul{
	font-size: 16px;
	list-style-type: none;
}
.container>.Allnav{
	height: 736px;
}
.container>.Allnav ul li{
	width: 155px;
	height: 28px;
	line-height: 28px;
}
.AllNavClass li{
	padding-left:10px;
	margin-top:10px;
}
.container>.Allnav>ul>li a{
	color:black;
	list-style-type: none;
}
.container>.Allnav>ul>li a:hover{
	color:red;
}
.container>.Allnav>.PopularSearch li a{
	font-size: 14px;
}
.container>.Allnav>.PopularSearch>.popularsearch{
	color:#909090;
}
.container>.Allnav>.PopularSearch{
	margin-top:60px;
}
.container>.Allnav>.PopularSearch li:not(.popularsearch){
	height: 25px;
	line-height: 25px;
}
.Allnavbox{
	margin-top:130px;
}
.NewPopularMenu,.Allnav,.StudyFood,.CaiPhoto,.PopularMuneBox{
	float:left;
}
.StudyFood{
	margin-left:20px;
}
.NewPopularMenu>.CaiPhotoBox{
	width: 495px;
	height: 138px;
	margin-bottom: 10px;
	border:1px solid #f3f3f3;
}
.NewPopularMenu a{
	color:black;
}
.NewPopularMenu a:hover{
	color:#dd3915;
}
.NewPopularMenu h3{
	font-size: 20px;
}
.NewPopularMenu h1,.NewPopularMenu h3{
	font-weight: bold;
}
.Page{
	text-align: center;
	font-size: 15px;
	margin:60px auto 100px;
}
.Page a{
	font-weight: bold;
	display: inline-block;
	padding:10px;
	color:#dd3915;
}
.Page a:hover{
	background-color: #dd3915;
	color:white;
}
.Page :nth-child(2){
	background-color: #dd3915;
	color:white;
}
.FoodList{
	color:#72a46d;
}
.PopularMuneBox{
	margin-left: 30px;
	width: 300px;
	height: 140px;
}
.PopularFoodMune{
	text-align:center;
	border:1px solid #f3f3f3;
}
.PopularMuneBox>.PopularMune>b{
	color:#c0ae7d;
	font-size: 20px;
}
.PopularMuneBox>.PopularMune>a{
	color:#dd3915;
	float:right;
}
.PopularMuneBox>.PopularMune{
	margin:50px auto 20px;
}
.PopularFoodMune>p{
	color:black;
	margin:20px auto;
}
.dropdown div{
	border:transparent;
}
.item{
  border:1px solid red;
}
h4{
  background-color: orange;
}
.content{
  display:none;
}
.lists{
	color:#909090;
}
.lists:hover,.lists~li:hover{
	background:#ebe9e7;
	color:black;
}
.boxs{
	width: 650px;
	height: 3560px;
	float:left;
	position:relative;
}
.breadcrumb{
	background: white;
}
.breadcrumb a{
	color:#dd3915;
}
.breadcrumb a:hover{
	color:white;
	background:#dd3915; 
}
.breadcrumb+h1{
	font-weight:bold;
}
.cai{
	width: 650px;
	height: 440px;
	background: url(../images/cai.jpg) no-repeat;
	background-size: contain;
}
.cai+p{
	margin-top:20px;
	font-size: 17px;
	color:#909dbe;
}
.cai+p span{
	font-size:22px;
	color:#dd3915;
	font-weight:bold;
}
.Collection{
	width: 100px;
	height: 40px;
	background:#dd3915;
	color:white;
	text-align:center;
	position:absolute;
	top:560px;
	left:530px;
}
.foodimg{
	margin-top:20px;
	width: 200px;
	height: 140px;
	background: url(../images/cai.jpg) no-repeat;
	background-size: cover;
}
.foodright{
	position:relative;
	bottom:140px;
	left:220px;
}
.modal-title{
	background:white;
}
.btn{
	background:#dd3915;
}
h4+p{
	text-align:center;
	margin:40px 0;
	font-weight:bold;
	color:black;
}
.ulli{
	text-align: center;
}
.ulli ul{
	padding:20px 0px;
	margin:0 30px;
}
.ulli ul li{
	margin:10px 0;
}
.modal-content a{
	color:#dd3915;
}
.color:#dd3915 a:hover{
	color:white;
	background:#dd3915;
}
.totl{
	width: 180px;
	height: 100px;
	text-align:right;
	line-height:100px;
	font-weight:bold;
	font-size:19px;
}
.headerimg{
	float:left;
	width: 80px;
	height: 80px;
	border-radius:40px;
	background:url(../images/home.jpg);
	margin:10px;
}
.detailed{
	color:black;
	font-size:19px;
	line-height: 40px;
}
.detailed p{
	line-height:60px;
}
.detailed h3{
	font-weight:bold;
	color:#c0ae7d;
}
table td{
	width: 400px;
	padding:10px 0;
	border-bottom:1px solid #f3f4f5;
}
.step{
	height: 200px;
}
.step p{
	width: 300px;
	float:left;
}
.step .image{
	width: 300px;
	height: 200px;
	background:url(../images/home2.jpg) no-repeat;
	background-size:300px 180px;
	padding:10px;
	float:right;
}
.step span{
	display: block;
	color:#c0ae7d;
	float:left;
	padding:10px;
	font-size:30px;
}
.steps{
	background:#f5f6f5;
}
.steps p{
	margin:20px;
	font-size: 16px;
	line-height: 30px;
}
.steps h5{
	font-weight:bold;
	padding:20px 0 0 20px;
}
.da{
	width: 32px;
	height: 32px;
	background:url(../images/dayin.png);
	float:right;
}
.da:hover{
	box-shadow: 1px -1px 1px 1px red;
}
.works h3{
	float:left;
}
.allworks{
	margin-top:10px;
	float:right;
}
.allworks a{
	color:#dd3915;
	font-size:14px;
	font-weight:bold;
	padding:5px 0;
}
.allworks a:hover{
	color:white;
	background:#dd3915;
}
.col-xs-3 img{
	width: 150px;
}
.imgs p{
	font-size: 12px;
	line-height:30px;
}
.imgs{
	width: 150px;
	border:1px solid #f3f3f3;
}
.himg{
	width: 30px;
	height: 30px;
	border-radius:15px;
	background:url(../images/food1.jpg);
	float:left;
	margin-right:10px;
}
.imgs a{
	font-size:14px;
	color:#dd3915;
}
.heading{
	height: 50px;
	text-align:center;
	line-height:50px;
	background:#dd3915;
	color:white;
	font-size:15px;
	margin-top:50px;
}
.report{
	width: 900px;
}
.report p{
	float:right;
	font-size: 13px;
	color:gray;
}
section+section{
	background:#f5f6f5;
}
.container h2{
	font-weight:bold;
}
.user{
	height: 150px
}
.imghead{
	width: 50px;
	height: 50px;
	border-radius: 25px;
	background:url(../images/home.jpg);
	float:left;
	margin:0 20px;
}
.zan{
	width: 60px;
	height: 32px;
	background:url(../images/zan.png) no-repeat;
	float:right;
	line-height: 32px;
}
.user a{
	padding:0 10px 0 0;
	color:gray;
}
.author{
	padding-left:90px;
}
.foots{
	text-align:center;
	color:gray;
	font-size: 12px;
	padding:20px;
}
.foots a{
	color:#dd3915;
	font-size: 14px;
}
.foots a:hover{
	color:white;
	background:#dd3915;
}