/*.flo{
	margin-top:70px;
}*/
/*header{
	z-index:100;
}*/
.col-sm-2{
	height: 200px;
	border:1px solid red;
}
.col-sm-6{
	height: 200px;
	border:1px solid red;
}
.col-sm-4{
	height: 200px;
	border:1px solid red;
}