.flo{
	margin-top:40px;
}
.col-xs-2{
	height: 200px;
	/*border:1px solid red;*/
}
.col-xs-6{
	/*height: 200px;*/
	/*border:1px solid red;*/
}
.col-xs-4{
	height: 300px;
	/*border:1px solid red;*/
}
.foods li{
	/*border:1px solid red;*/
	height: 32px;
	list-style-type: none;
	line-height: 32px;
	padding:0px 0px 0px 60px;
	background:url(../images/food.png) no-repeat;
}
.foods li:hover{
	color:red;
}
.foods table{
	width: 400px;
	height: 400px;
	position:absolute;
	top:120px;
	left:150px;
	z-index:2;
	background:#f5f6f5;
}
.foods table td{
	padding:5px;
}
.foods table td:hover{
	color:red;
}
.col-xs-2 a{
	color:#dd3915;
	padding:5px;
}
.col-xs-2 a:hover{
	background:#dd3915;
	color:white;
	text-decoration: none;
}
.col-xs-6 h3{
	color:#c0ae7d;
	font-weight:bold;
	float:left;
}
[type=button]{
	margin-top:10px;
	float:right;
	padding:5px 10px;
}
.all{
	margin:20px 0 0 120px;
}
.all a{
	padding:5px;
	color:#dd3915;
}
.all a:hover{
	background:#dd3915;
	color:white;
	text-decoration: none;
}
/*.boxsmall ol{
	height: 160px;
	overflow:hidden;
	border:1px solid red;
	display:flex;
	flex-wrap: nowrap;
	position:absolute;
	top:382px;
	left:428px;
}
.boxsmall li img{
	width: 120px;
	height: 80px;
}
.boxsmall li{
	float:left;
	margin:20px 20px;
	list-style-type: none;
}*/
.text{
	width:160px;
	/*border:1px solid red;*/
	position:absolute;
	right:0px;
	top:75px;
}
.swiper-container {
   width: 100%;
   height: 90%;
   margin-top:-100px;
   /*border:1px solid red;*/
  /*overflow-x:hidden;*/
   /*overflow-y:visible;*/
}
.swiper-slide {
  text-align: center;
  font-size: 14px;
  background: #fff;
      /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-button-next{
	color:gray;
	position:relative;
	bottom:33px;
   /*border:1px solid red;*/
	left:355px;
}
.swiper-button-prev{
	color:gray;
	font-size: 14px;
   /*border:1px solid red;*/
	position:relative;
	bottom:55px;
	left:420px;
}
.img img{
	width: 200px;
}
.tit{
	border:1px solid #f3f3f3;
	padding:10px;
	text-align:center;
}
.tit span{
	font-size:12px;
}
.img img+a{
	text-decoration: none;
	color:black;
}
.img img+a:hover{
	/*background:#dd3915;*/
	color:#dd3915;
}
.tit a{
	text-decoration: none;
	color:black;
}
.tit a:hover{
	color:#dd3915;
}
.Seasonal{
	width: 460px;
	height: 240px;
	background: #f5f6f5;
	/*border:1px solid red;*/
	display:flex;
	flex-wrap:wrap;
	justify-content: space-around;
}
.ingredients{
	margin:20px 5px;
}
.Seasonal a{
	text-decoration: none;
	color:black;
}
.Seasonal a:hover{
	color:#dd3915;
}
.portrait{
	margin:20px auto;
	width: 80px;
	height: 80px;
	border-radius:40px;
	border:1px solid red;
	background:url(../images/home.jpg);
}
.box{
	background: #f5f6f5;
	padding:5px 20px;
}
.box h4{
	text-align:center;
	margin:20px 0;
}
.box p{
	text-align:center;
	margin:20px 0;
}
.recipes{
	width: 100px;
	height: 50px;
	margin:auto;
	background:#dd3915;
	text-align:center;
	line-height:50px;
}
.box a{
	text-decoration: none;
	color:#dd3915;
}
.box a:hover{
	background: #dd3915;
	color:white;
}
.box p+a{
	background:#dd3915;
	text-decoration: none;
	color:white;
}
h4+ol{
	width: 250px;
	height: 250px;
	/*border:1px solid red;*/
	list-style-position:inside;
	display:flex;
	flex-direction: column;
	flex-wrap:wrap;
}
h4+ol li{
	margin:12px 25px;
	/*border:1px solid red;*/
}
h4+ol li span{
	padding-left:15px;
}
h4+ol a{
	text-decoration: none;
	color:black;
}
h4+ol a:hover{
	color:#dd3915;
}
.box+h4{
	color:#c0ae7d;
	font-weight:bold;
}
.totle{
	color:#c0ae7d;
	font-weight:bold;
	font-size:18px;
}
.totle span{
	padding-left:20px;
	font-size: 14px;
	font-weight:normal;
	color:#dd3915;
}
.totle a{
	color:#dd3915;
}
.totle a:hover{
	background:#dd3915;
	color:white;
}