*{
	margin:0;
	padding:0;
}
body{
	font-size:16px;
	padding-top:70px;
}
.navbar{
	height: 70px;
	background: #fff;
}
.container{
	width: 970px;
	padding-left:0;
	padding-right:0;
}
.img{
	height: 336px;
	background: url(zhaopin.jpg)
}
h1,p{
	text-align:center;
}
.btn{
	height: 400px;
	display: flex;
	justify-content:flex-start;
	flex-wrap:wrap; 
	padding:0;
}
.btn a{
	text-decoration: none;
}
.btn .btn-child{
	width: 240px;
	height: 90px;
	line-height:90px;
	color:#dd3915;
	margin:2px;
}
.btn .btn-child:hover{
	background: #dd3915;
	color:white;
}
ul li{
	margin:8px;
}
h4{
	padding-top: 80px;
	margin-top: -80px;
	font-weight: bold;
}